# Networking + RxSwift
github "Moya/Moya" "8.0.0-beta.4"

# Logging
github "emaloney/CleanroomLogger" ~> 3.0

# Resources
github "mac-cain13/R.swift.Library" ~> 3.0

# QR-Code Scanner
github "yannickl/QRCodeReader.swift" >= 7.2.0

# Initialize UIColor with hex values
github "hyperoslo/Hue" ~> 2.0

# Azure mobile SDK
github "Azure/azure-mobile-apps-ios-client"

# JSON Parser 
github "bignerdranch/Freddy" ~> 3.0
